{{ define "main" }}
  <div>
    <ul class="posts-list">
      {{ range (where .Paginator.Pages "Type" "!=" "page") }}
        <li class="posts-list-item">
          <article class="post">
            <header class="post-header">
              <a class="posts-list-item-title" href="{{ .Permalink }}"><h2 class ="post-title">{{ .Title }}</h2></a>
              {{- if ne .Type "page" }}
              <div class="post-meta">
                <div>
                  {{ partial "icon.html" (dict "ctx" $ "name" "calendar") }}
                  {{ .PublishDate.Format "Jan 2, 2006" }}
                </div>
              </div>
              {{- end }}
            </header>
            <div class="post-content">
              {{ .Content }}
            </div>
            <div class="post-footer">
              {{ template "_internal/disqus.html" . }}
            </div>
          </article>
        </li>
      {{ end }}
    </ul>
    {{ partial "pagination.html" $ }}
  </div>
{{ end }}
