{{ define "main" }}
  <article class="post">
    <header class="post-header">
      <h2 class ="post-title">{{ .Title }}</h2>
      {{- if ne .Type "page" }}
      <div class="post-meta">
        <div>
          {{ partial "icon.html" (dict "ctx" $ "name" "calendar") }}
          <!-- {{ .PublishDate.Format "Jan 2, 2006" }} -->
        </div>
      </div>
      {{- end }}
    </header>
    <div class="post-content">
      {{ .Content }}
    </div>
    <div class="post-footer">
      {{ template "_internal/disqus.html" . }}
    </div>
  </article>
{{ end }}
